/.idea
/.gradle
.DS_Store
/build
/src/main/resources/eu/hansolo/tilesfx/poi.fw.png
/src/main/resources/eu/hansolo/tilesfx/location.fw.png
/src/main/java/eu/hansolo/tilesfx/Test.java
/src/main/resources/eu/hansolo/tilesfx/track.gpx
/out
/local.properties
/classes
/src/main/java/eu/hansolo/tilesfx/skins/TestTileSkin.java
/tilesfx.iml
